@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600&family=Questrial&family=Rock+3D&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.background {
    background-color: #424250;
    font-family: 'Montserrat', sans-serif;

}

h1 {
    text-align: center;
    padding: 100px;
    color: #BFA0F9;
    font-weight: bold;
}
#weather{
    font-size: 60px;
}
#temperatures{
    font-size: 60px;
}

h2{
    color: #BFA0F9;
}
p{
    color: #BFA0F9;
}

.newColor{
    color: #BFA0F9;
    height: 2px;
}

.container{
    color: #BFA0F9;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.left {
    width: 40%;
}

.right {
    width: 40%;

}

.right .container {
    padding: 0;
}

.container {
    text-align: center;
}
#navBar {
    background-color: #424250 !important;
}

#buttonLink{
    border: 2px solid #BFA0F9;
    color: #BFA0F9;
    background: none;
}

#changeColorLink:link{
    color: #BFA0F9;
    font-style: italic ;

}

#changeColorLink:visited{
    text-decoration: none;
}

#changeColorLink:hover{
    text-decoration: none;

}